# All variables must be filled in
INFLUXDB_HOST = "https://influx.example.com"
INFLUXDB_VERIFYSSL = True # Set false if clinet can't verify certificates (self signed or untrusted ca)
INFLUXDB_TOKEN = "token_generated_from_ui"
INFLUXDB_ORG = "organization_that_owns_bucket"
INFLUXDB_DB = "bucket_name"
INFLUXDB_MEASUREMENT = "measurement_name"
MESH_NODE_HOST = "ip_or_hostname_of_meshtastic_device"
TIME_OFFSET = 600  # in seconds, upload only nodes heard in the last X seconds
COLLECT_INTERVAL = 60
INCLUDE_DISCOVERED_BY = False # EXPERIMENTAL,  Includes a 'discovered_by' (Node ID) field in data sent
READ_ONLY = False # Display logs, no data is sent to InfluxDB