# All variables must be filled in
INFLUXDB_HOST = "https://influx.example.com"
INFLUXDB_VERIFYSSL = True # Set false if client can't verify certificates (self signed or untrusted ca)
INFLUXDB_TOKEN = "token_generated_from_ui"
INFLUXDB_ORG = "organization_that_owns_bucket"
INFLUXDB_DB = "bucket_name"
INFLUXDB_MEASUREMENT = "measurement_name"

MESH_NODE_HOSTS = ["192.168.1.1", "192.168.1.2"] # Has to be an array

TIME_OFFSET = 600  # In seconds, upload only nodes heard in the last X seconds; should never be 0 as time can be often wrong
COLLECT_INTERVAL = 120
INCLUDE_DISCOVERED_BY = True # Includes a 'discovered_by' (Node ID) field in data sent, currently no position data is sent if disabled
READ_ONLY = False # Display logs, no data is sent to InfluxDB

LOG_LEVEL="debug" # Available debug, error, warning, info, debug

# Removes warnings
if INFLUXDB_VERIFYSSL == False:
    import urllib3
    urllib3.disable_warnings()